# Ignorer le fichier .env
.env

# Ignorer le dossier data/ et tous ses sous-dossiers
data/
!data/.gitkeep
!data/raw/.gitkeep


# Ignorer le dossier notebooks/old et tous ses sous-dossiers
notebooks/old

# Ignorer les fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorer les environnements virtuels
.venv/
venv/

# Ignorer les fichiers de configuration IDE
.idea/
.vscode/

